.bottomNav {
  background-color: rgb(73, 71, 101);
  width: auto;
  height: 1.5rem;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-evenly;
  font-size: 1rem;
  position: static;
}

.link {
  color: white;
  text-decoration: none;
  margin: 5px;
}
