.mainNav {
  background-color: black;
  width: auto;
  height: 4rem;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-evenly;
  font-size: 1rem;
  position: static;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.items {
  margin: 0.4rem;
  font-weight: bold;
}

.search {
  width: 65%;
  max-width: 65%;
}
