.bottomNav {
  background-color: #232f3e;
  width: auto;
  height: 1.8rem;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-evenly;
  font-size: 14px;
  position: static;
  font-weight: normal;
}
